#EnviarMensaje{
    color: #0150BD !important;
text-transform: uppercase;
background: #ffffff;
padding: 20px;
border: 4px solid #0150BD !important;
border-radius: 6px;
display: inline-block;
transition: all 0.3s ease 0s;
}

#EnviarMensaje:hover {
    color: #494949 !important;
    border-radius: 50px;
    border-color: #494949 !important;
    transition: all 0.3s ease 0s;
    }